@model MovieShopUser.Models.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "NewCustomerOrderCompletion";
}

<h2>NewCustomerOrderCompletion</h2>

<div>
    <h1>You have just purchased:</h1>

    <div class="dl-horizontal">
        <h2>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </h2>

        <p>
            @Html.DisplayFor(model => model.Movie.Title)

            <a href="@Model.Movie.imageURL" target="_blank"><img class="poster" src="@Model.Movie.imageURL" /></a>

        </p>

        <h3>
            @Html.DisplayNameFor(model => model.Movie.Price)
            <h3 />

            <p>
                @Html.DisplayFor(model => model.Movie.Price)
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.Movie.Year)
            </h4>

            <p>
                @Html.DisplayFor(model => model.Movie.Year)
            </p>

            <p>
                @Html.DisplayFor(model => model.Movie.Genre.Name)
            </p>

    </div>
</div>
<p>
    @Html.ActionLink("Return to Home", "Index")
</p>